footer
    width: 100%
    min-height: 992px
    background: rgba(37, 37, 37, 1)
    margin-top: 19px
    border-top: solid 23px #4D4382
    .threeColumnFooter
        max-width: 940px
        margin: 0 auto
        display: flex
        flex-direction: row
        gap: 18px
        .columnFooter
            flex: 1
            display: flex
            flex-direction: column
            .logoFooter
                margin-top: 47px
                img
                    float: left
                    margin-right: 18px
                h3
                    color: #45B0E3
                    font-size: 29.6px
                    line-height: 41.81px
            p
                font-family: $bitterFont
                color: rgba(102, 102, 102, 1)
                font-size: 14px
                line-height: 20px
                margin: 23px 0
            .logos
                display: flex
                gap: 6px
                img
                    height: 38px
                    width: 38px
        .columnFooter-second
            margin-top: 60px
            h3
                color: rgba(204, 204, 204, 1)
                font-size: 24px
                line-height: 29px
            .inputFooter
                width: 193px
                float: left
                background: rgba(51, 51, 51, 1)
                height: 53px
                border: none
                font-family: $varelaFont
                font-size: 16px
                padding-left: 21px
            button
                height: 53px
                background-color: #4D4382
                border: none
                width: 107px
                color: #CCCCCC
                font-family: $varelaFont
                font-size: 16px
        .columnFooter-third
            margin-top: 60px
            h3
                color: rgba(204, 204, 204, 1)
                font-size: 24px
                line-height: 29px
            .tagsFooter

                font-family: $varelaFont
                font-size: 12px
                line-height: 29px

                strong
                    background-color: #4D4382
                    padding: 6px 9px
                    margin: 0 2px
                    color: rgba(204, 204, 204, 1)
                    font-weight: normal

                span
                    padding: 6px 9px
                    margin: 0 2px

                    background-color: #333333
