@media screen and (max-width: 950px)
    .twoColumnsDiv
        justify-content: center
        flex-direction: column

    .sidebar
        margin: 0 auto
    .newsbar
        margin-right: 0 !important
    .section
        margin: 0 auto
    .sectionBusi
        width: 620px

    .thumbnailSlider
        width: 80px !important
    .thumbnails
        gap: 60px !important
        margin-top: 50px
    .threeColumnFooter
        flex-direction: column !important
        .columnFooter
            margin: 0 auto !important
            padding: 0 10px
            max-width: 350px
        .columnFooter-third
    .bottomFooter
        flex-direction: column
        p
            margin: 0 auto !important
    .category
        margin: 0 auto

    .singleTitle
        h1
            font-size: 30px
            line-height: normal
            padding-right: 30px
        p
            bottom: 110px
    .singlebar
        margin: 0 auto

@media screen and (max-width: 680px)
    .purpleNav ul
        flex-direction: column
        margin: 0 auto
    .navigation
        flex-direction: column
    .mainSlider
        margin-bottom: 50px
    .item
        min-height: 460px !important
    .dateAndComments
        margin-top: 256px !important
    .sectionArticles
        flex-direction: column !important

    .section
        width: 340px
        margin: 0 auto
        padding-bottom: 10px
    .containerLocalNews
        display: flex
        flex-direction: column !important

    .sectionBusiness
        grid-template-columns: 1fr !important

    .sectionArticlesResp
        padding-left: 50px

    .thumbnailSlider
        width: 45px !important

    .thumbnails
        gap: 20px !important
        margin-top: 70px
    .articleCategory
        flex-direction: column
    .category
        width: 330px !important
    .buttonsCategory
        margin-left: 0px !important

    .singleTitle
        h1
            font-size: 15px
            bottom: 0
            line-height: normal
            padding-right: 30px
        p
            bottom: 45px

// za popup sliku 
@media all and (orientation: landscape)
    .largePhoto
        height: 70vh

@media all and (orientation: portrait)
    .largePhoto
        width: 70vw
