@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0px;
}

h3 {
  color: #363f48;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  color: #363f48;
}

.containerNav {
  background-color: #252525;
  width: 100%;
  min-height: 53px;
}

.containerNav .navigationClose {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerNav .navigation {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerNav .navigation .leftPartNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerNav .navigation .leftPartNav .leftArrowNav {
  height: 53px;
  width: 63px;
  background-color: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 9px;
}

.containerNav .navigation .leftPartNav a {
  text-decoration: none;
}

.containerNav .navigation .leftPartNav p {
  color: #fff;
  margin-top: 16.5px;
  font-family: 'Bitter', serif;
  font-size: 24px;
}

.containerNav .navigation .leftPartNav p:hover {
  color: #4D4382;
}

.containerNav .navigation .rightPartNav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerNav .navigation .rightPartNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14.5px;
  font-size: 14px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  line-height: 27px;
  font-weight: 400;
}

.containerNav .navigation .rightPartNav ul li {
  margin-right: 28px;
}

.containerNav .navigation .rightPartNav .rightSearchNav {
  height: 53px;
  width: 63px;
  background-color: rgba(221, 208, 208, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerNav .navigation .rightPartNav .rightSearchNav img {
  width: 16px;
  height: 16px;
}

.purpleNav {
  background-color: #4D4382;
}

.purpleNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  color: #fff;
}

.purpleNav ul li {
  padding: 11px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpleNav ul li:nth-child(1) {
  background-color: #299EC3;
  padding: 15px 21px 16px 20px;
}

.purpleNav ul li:nth-child(2)::after {
  content: '';
  width: 132px;
  height: 3px;
  background-color: #EE6151;
  margin-top: auto;
}

.purpleNav ul li:nth-child(3)::after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #84C14F;
  margin-top: auto;
}

.purpleNav ul li:nth-child(4)::after {
  content: '';
  width: 81px;
  height: 3px;
  background-color: #5DCFF3;
  margin-top: auto;
}

.purpleNav ul li:nth-child(5)::after {
  content: '';
  width: 91px;
  height: 3px;
  background-color: #FCC44D;
  margin-top: auto;
}

.purpleNav ul li:nth-child(6)::after {
  content: '';
  width: 113px;
  height: 3px;
  background-color: #A99765;
  margin-top: auto;
}

.hiddenHamburger {
  display: none;
}

.mainContainer {
  max-width: 940px;
  margin: 0 auto;
}

.banner {
  background-color: #ffffff;
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #D7D7D7;
}

.banner p {
  color: #999999;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.bigBanner {
  height: 120px;
}

.mainSlider {
  width: 100%;
  min-height: 425px;
  background-color: #fff;
  margin-top: 18px;
}

.mainSlider .item {
  min-height: 425px;
  background-image: url("../components/assets/news_photo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainSlider .item > * {
  margin-left: 30px;
}

.mainSlider .item .dateAndComments {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #EEF6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 246px;
  margin-bottom: 10px;
}

.mainSlider .item .dateAndComments p {
  font-weight: normal;
  color: #EEF6FA;
  margin-right: 28px;
}

.mainSlider .item .dateAndComments img {
  margin-right: 6px;
}

.mainSlider .item h1 {
  font-family: "Bitter", serif;
  color: #EEF6FA;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  max-width: 588px;
  margin-bottom: 18px;
}

.mainSlider .item a {
  padding: 8px 21px;
  background: rgba(0, 0, 0, 0.0001);
  border: solid #fff 1px;
  cursor: pointer;
  line-height: 17px;
  font-family: "Varela Round", sans-serif;
  color: #EEF6FA;
  text-decoration: none;
}

.mainSlider .item a:hover {
  border: solid #4D4382 1px;
}

.slick-prev {
  left: 25px;
  z-index: 999;
  width: 36px;
  height: 53px;
  cursor: pointer;
  background: url("../components/assets/arrowLeft.png") no-repeat !important;
}

.slick-prev::before {
  display: none;
}

.slick-prev:hover {
  opacity: 0.7;
}

.slick-next {
  right: 25px;
  width: 36px;
  height: 53px;
  cursor: pointer;
  z-index: 999;
  background: url("../components/assets/arrowRight.png") no-repeat !important;
}

.slick-next::before {
  display: none;
}

.slick-next:hover {
  opacity: 0.7;
}

.twoColumnsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.twoColumnsDiv .newsbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 17px;
  max-width: 100%;
  overflow: hidden;
}

.twoColumnsDiv .newsbar .containerLocalNews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px !important;
}

.twoColumnsDiv .newsbar .section {
  overflow: hidden;
  margin-top: 19px;
  max-width: 620px;
  min-height: 325px;
  padding-right: 31px;
  background-color: white;
  border-left: solid 13px #3677B5;
  margin-top: 19px;
}

.twoColumnsDiv .newsbar .section .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.twoColumnsDiv .newsbar .section .sectionHeader div {
  margin-left: auto;
  margin-top: 28px;
}

.twoColumnsDiv .newsbar .section .sectionHeader div img {
  height: 22px;
  width: 16px;
  margin-left: 14px;
}

.twoColumnsDiv .newsbar .section .sectionHeader div img:hover {
  opacity: 0.7;
}

.twoColumnsDiv .newsbar .section .sectionHeader h3 {
  margin-top: 15px;
  margin-left: 31px;
}

.twoColumnsDiv .newsbar .section .sectionHeader a {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #3677B5;
  margin-left: auto;
  text-underline-offset: 3px;
  margin-top: 32px;
  -webkit-text-decoration-color: rgba(54, 119, 181, 0.3);
          text-decoration-color: rgba(54, 119, 181, 0.3);
}

.twoColumnsDiv .newsbar .section .sectionHeader a:hover {
  color: #4D4382;
}

.twoColumnsDiv .newsbar .section .sectionArticles {
  margin-top: 30px;
  margin-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article {
  width: 170px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article:hover {
  opacity: 0.8;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article img {
  width: 170px;
  height: 128px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .imageBusiness {
  width: 120px;
  height: 90px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .imageCarousel {
  width: 260px;
  height: 150px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate p {
  font-family: "Varela Round", sans-serif;
  font-style: regular;
  font-size: 12px;
  color: #666666;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate .articleNumber {
  margin-left: auto;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article h4 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 18px;
  font-style: normal;
  margin-top: 6px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .articleBusiness {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 150px;
      grid-template-columns: 135px 150px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .articleCarousel {
  width: 260px;
}

.twoColumnsDiv .newsbar .section .sectionBusiness {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.twoColumnsDiv .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 303px;
}

.twoColumnsDiv .sidebar .topPopular {
  width: 100%;
  height: 667px;
  margin-top: 19px;
  background-color: #4D4382;
}

.twoColumnsDiv .sidebar .topPopular .topPopularHeader {
  padding-top: 18px;
  padding-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
}

.twoColumnsDiv .sidebar .topPopular .topPopularHeader p {
  color: #fff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(172, 179, 186, 0.3);
          text-decoration-color: rgba(172, 179, 186, 0.3);
  text-underline-offset: 3px;
  cursor: pointer;
}

.twoColumnsDiv .sidebar .topPopular .topPopularHeader .active {
  color: #fcc44d;
  -webkit-text-decoration-color: rgba(252, 196, 77, 0.3);
          text-decoration-color: rgba(252, 196, 77, 0.3);
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 32px;
  border-bottom: solid 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular .textTopPopular img {
  height: 10px;
  float: right;
  margin-right: 3px;
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular .textTopPopular p {
  color: #acb3ba;
  font-family: "Varela Round", sans-serif;
  font-size: 10px;
  line-height: 12px;
  margin-top: 15px;
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular .textTopPopular .pToRight {
  float: right;
  margin-right: 25px;
  margin-top: 0;
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular .textTopPopular h3 {
  font-family: "Bitter", serif;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 1px;
}

.twoColumnsDiv .sidebar .topPopular .articleTopPopular .imgTopPopular {
  width: 72px;
  height: 72px;
  border: solid 2px #fff;
}

.twoColumnsDiv .sidebar .social {
  margin-top: 28px;
}

.twoColumnsDiv .sidebar .social h3 {
  line-height: 24px;
  margin-bottom: 15px;
}

.twoColumnsDiv .sidebar .social .socialNetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}

.twoColumnsDiv .sidebar .social .socialNetwork img {
  height: 40px;
  width: 40px;
}

.twoColumnsDiv .sidebar .social .socialNetwork p {
  width: 123px;
  background-color: #DDDDDD;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-style: bold;
  size: 18px;
  padding-top: 13px;
  padding-left: 15px;
  color: #363f48;
}

.twoColumnsDiv .sidebar .social .socialNetwork .numberOfPeople {
  width: 142px;
  background-color: #4D4382;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
}

.twoColumnsDiv .sidebar .kenazTv {
  height: 324px;
  background-color: #fff;
  margin-top: 10px;
}

.twoColumnsDiv .sidebar .kenazTv h3 {
  margin-top: 15px;
  margin-left: 33px;
  margin-bottom: 31px;
}

.twoColumnsDiv .sidebar .kenazTv p {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #666666;
  margin-left: 32px;
  margin-top: 17px;
  margin-bottom: 7px;
}

.twoColumnsDiv .sidebar .kenazTv h4 {
  font-family: "Bitter", serif;
  font-size: 14px;
  margin-left: 32px;
  letter-spacing: 0.5px;
}

.twoColumnsDiv .sidebar .twoBanners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  margin-top: 18px;
  width: 100%;
  height: 167px;
  background-color: #DDDDDD;
  padding-top: 19px;
  padding-left: 21px;
}

.twoColumnsDiv .sidebar .twoBanners div {
  width: 128px;
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d7d7d7;
}

.twoColumnsDiv .sidebar .twoBanners div p {
  color: #999999;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.twoColumnsDiv .sidebar .commentsSection {
  width: 100%;
  height: 556px;
  background-color: white;
  margin-top: 22px;
  padding-top: 15px;
  padding-left: 17px;
}

.secondContainerSlider {
  overflow: hidden !important;
  position: relative;
}

.secondContainerSlider .secondSlider {
  height: 400px;
  width: 100%;
  background: #f59c9c;
  overflow: hidden !important;
}

.secondContainerSlider .secondSlider .imageSlider {
  height: 940px;
}

.secondContainerSlider .secondSlider .thumbnailSlider:hover {
  opacity: 0.6;
}

.secondContainerSlider .secondSlider .slick-active .thumbnailSlider {
  background-color: white;
  width: 120px;
  padding: 10px;
}

.secondContainerSlider .searchButton {
  width: 80px;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
}

.secondContainerSlider .searchButton:hover {
  opacity: 0.5;
}

.secondContainerSlider .blackBackground {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 228px;
  bottom: 0;
  max-width: 100%;
}

.category {
  max-width: 620px;
  margin-right: 17px;
  background-color: #fff;
  margin-top: 19px;
}

.category h3 {
  margin-top: 15px;
  margin-bottom: 36px;
  letter-spacing: 1px;
  padding-right: 30px;
  padding-left: 31px;
}

.category .sectionCategory .dateAndAuthor {
  padding-right: 18px;
  padding-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.category .sectionCategory .dateAndAuthor img {
  margin-top: -3px;
}

.category .sectionCategory .dateAndAuthor p {
  color: #666666;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
}

.category .sectionCategory .articleCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 31px;
  padding-right: 18px;
}

.category .sectionCategory .articleCategory img {
  margin-top: 16px;
  width: 170px;
  height: 128px;
}

.category .sectionCategory .articleCategory p {
  color: #444444;
  font-family: "Bitter", serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-top: 7px;
}

.category .sectionCategory .articleCategory .readArticle {
  background-color: #4D4382;
  color: #fff;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 123px;
  height: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.category .sectionCategory .articleCategory .readArticle:hover {
  opacity: 0.7;
}

.category .sectionCategory .grayLineCategory {
  width: 100%;
  height: 1px;
  background-color: rgba(221, 221, 221, 0.5);
  margin-top: 62px;
  margin-bottom: 24px;
}

.category .buttonsCategory {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  margin-left: 30px;
  margin-bottom: 31px;
}

.category .buttonsCategory .buttonCategory {
  height: 33px;
  width: 32px;
  border: none;
  font-family: "Varela Round", sans-serif;
  color: #4D4382;
  font-size: 14px;
  cursor: pointer;
}

.category .buttonsCategory .buttonCategory:hover {
  opacity: 0.7;
}

.category .buttonsCategory .activeButton {
  background-color: #4D4382;
  color: #fff;
}

.category .banner {
  margin-top: 0;
}

.category .emptyCon {
  height: 17px;
  width: 100%;
  background-color: #eeeeee;
}

.singleTitle {
  margin-top: 18px;
  margin-bottom: 7px;
  width: 100%;
  max-height: 100%;
  position: relative;
  color: #222222;
}

.singleTitle .singleHeader {
  max-height: 100%;
  width: 100%;
}

.singleTitle .singleHeader-layer {
  max-height: 258px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.singleTitle p {
  position: absolute;
  bottom: 154px;
  left: 30px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 14.5px;
}

.singleTitle h1 {
  position: absolute;
  bottom: 34px;
  left: 30px;
  font-family: "Bitter", serif;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: 1.5px;
  max-width: 750px;
}

.singlebar {
  max-width: 620px;
  margin-right: 17px;
  margin-top: 19px;
}

.singlebar .sectionSingleBar {
  background-color: white;
}

.singlebar .sectionSingleBar img {
  width: 100%;
  margin-top: 42px;
}

.singlebar .sectionSingleBar p {
  margin-left: 30px;
  padding-top: 37px;
  margin-right: 20px;
  font-family: "Bitter", serif;
  font-size: 14px;
  line-height: 22px;
  color: #444444;
  letter-spacing: 0.23px;
}

.singlebar .sectionSingleBar .tweetImage {
  padding-left: 15px;
  margin-bottom: 18px;
}

.singlebar .aboutauthor {
  margin-top: 16px;
  background-color: white;
  padding-top: 18px;
  padding-left: 31px;
  padding-right: 26px;
  padding-bottom: 31px;
}

.singlebar .aboutauthor .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.singlebar .aboutauthor .author img {
  height: 110px;
  width: 110px;
}

.singlebar .aboutauthor .author p {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444444;
}

.singlebar .singleComments {
  margin-top: 18px;
  background-color: white;
  padding-top: 15px;
  padding-left: 32px;
  padding-right: 31px;
  padding-bottom: 30px;
}

.singlebar .singleComments .profileComment {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.singlebar .singleComments .profileComment img {
  width: 58px;
  height: 58px;
}

.singlebar .singleComments .profileComment .textComment .authorName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singlebar .singleComments .profileComment .textComment .authorName h4 {
  font-family: "Bitter", serif;
  font-size: 18px;
  line-height: 20px;
  color: #4D4382;
  letter-spacing: 1px;
}

.singlebar .singleComments .profileComment .textComment .authorName .dateComment {
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  line-height: 26px;
  margin-left: 8px;
  color: #666;
}

.singlebar .singleComments .profileComment .textComment .authorName .replyToComment {
  font-family: "Varela Round", sans-serif;
  margin-left: auto;
  color: #4d4382;
}

.singlebar .singleComments .profileComment .textComment p {
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444;
}

.singlebar .addComment {
  margin-top: 34px;
}

.singlebar .addComment p {
  margin-top: 26.5px;
  margin-bottom: 25.5px;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444;
}

.singlebar .addComment input {
  border: none;
  background-color: #ddd;
  display: block;
  margin-bottom: 8px;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #666;
  padding-left: 18px;
}

.singlebar .addComment .nameEmail {
  width: 303px;
  height: 43px;
}

.singlebar .addComment .inputComment {
  width: 100%;
  height: 187px;
}

.singlebar .addComment button {
  border: none;
  background: #4d4382;
  margin-top: 10px;
  width: 153px;
  height: 53px;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

footer {
  width: 100%;
  min-height: 880px;
  background: #252525;
  margin-top: 19px;
  border-top: solid 23px #4D4382;
}

footer .threeColumnFooter {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 18px;
}

footer .threeColumnFooter .columnFooter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .threeColumnFooter .columnFooter .logoFooter {
  margin-top: 47px;
}

footer .threeColumnFooter .columnFooter .logoFooter img {
  float: left;
  margin-right: 18px;
}

footer .threeColumnFooter .columnFooter .logoFooter h3 {
  color: #45B0E3;
  font-size: 29.6px;
  line-height: 41.81px;
}

footer .threeColumnFooter .columnFooter p {
  font-family: "Bitter", serif;
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  margin: 23px 0;
}

footer .threeColumnFooter .columnFooter .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

footer .threeColumnFooter .columnFooter .logos img {
  height: 38px;
  width: 38px;
}

footer .threeColumnFooter .columnFooter .featuredFooter h3 {
  color: #fff;
  margin-bottom: 25px;
}

footer .threeColumnFooter .columnFooter .featuredFooter .greyLine {
  margin: 17px 0px;
  width: 100%;
  height: 1px;
  background-color: rgba(102, 102, 102, 0.2);
}

footer .threeColumnFooter .columnFooter .featuredFooter .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .threeColumnFooter .columnFooter .featuredFooter .article .articleText .articleDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px;
}

footer .threeColumnFooter .columnFooter .featuredFooter .article .articleText .articleDate p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}

footer .threeColumnFooter .columnFooter .featuredFooter .article .articleText h4 {
  letter-spacing: 0.9px;
  line-height: 20px;
  margin-top: 0px;
  font-size: 14px;
  color: #CCCCCC;
  font-family: "Bitter", serif;
}

footer .threeColumnFooter .columnFooter .featuredFooter .article img {
  width: 76px;
  height: 76px;
  padding: 3px;
  background-color: white;
}

footer .threeColumnFooter .columnFooter-second {
  margin-top: 60px;
}

footer .threeColumnFooter .columnFooter-second h3 {
  color: #cccccc;
  font-size: 24px;
  line-height: 29px;
}

footer .threeColumnFooter .columnFooter-second .inputFooter {
  width: 193px;
  float: left;
  background: #333333;
  height: 53px;
  border: none;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  padding-left: 21px;
}

footer .threeColumnFooter .columnFooter-second button {
  height: 53px;
  background-color: #4D4382;
  border: none;
  width: 107px;
  color: #CCCCCC;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

footer .threeColumnFooter .columnFooter-third {
  margin-top: 60px;
}

footer .threeColumnFooter .columnFooter-third h3 {
  color: #cccccc;
  font-size: 24px;
  line-height: 29px;
}

footer .threeColumnFooter .columnFooter-third .tagsFooter {
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 30px;
}

footer .threeColumnFooter .columnFooter-third .tagsFooter strong {
  background-color: #4D4382;
  padding: 6px 9px;
  margin: 0 2px;
  color: #cccccc;
  font-weight: normal;
}

footer .threeColumnFooter .columnFooter-third .tagsFooter span {
  padding: 6px 9px;
  margin: 0 2px;
  background-color: #333333;
}

footer .threeColumnFooter .columnFooter-third h4 {
  font-family: "Bitter", serif;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin-top: 43px;
}

footer .threeColumnFooter .columnFooter-third .article .articleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  margin-top: 23px;
  gap: 4px;
}

footer .threeColumnFooter .columnFooter-third .article .articleText p {
  margin-top: 0;
  font-size: 14px;
  color: #666666;
}

footer .threeColumnFooter .columnFooter-third .article p {
  margin-top: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  color: #CCCCCC;
  margin-bottom: 10px;
}

footer .greyLineBig {
  width: 100%;
  height: 1px;
  background-color: rgba(102, 102, 102, 0.2);
  margin-top: 63px;
  margin-bottom: 18px;
}

footer .bottomFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

footer .bottomFooter p {
  color: #999999;
  font-size: 12px;
}

footer .bottomFooter .leftP {
  margin-left: auto;
  margin-right: 25px;
}

@media screen and (max-width: 950px) {
  .twoColumnsDiv {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sidebar {
    margin: 0 auto;
  }
  .newsbar {
    margin-right: 0 !important;
  }
  .section {
    margin: 0 auto;
  }
  .sectionBusi {
    width: 620px;
  }
  .thumbnailSlider {
    width: 80px !important;
  }
  .thumbnails {
    gap: 60px !important;
    margin-top: 50px;
  }
  .threeColumnFooter {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .threeColumnFooter .columnFooter {
    margin: 0 auto !important;
    padding: 0 10px;
    max-width: 350px;
  }
  .bottomFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bottomFooter p {
    margin: 0 auto !important;
  }
  .category {
    margin: 0 auto;
  }
  .singleTitle h1 {
    font-size: 30px;
    line-height: normal;
    padding-right: 30px;
  }
  .singleTitle p {
    bottom: 110px;
  }
  .singlebar {
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .purpleNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainSlider {
    margin-bottom: 50px;
  }
  .mainSlider .item {
    min-height: 460px !important;
  }
  .mainSlider .item .dateAndComments {
    margin-top: 276px !important;
  }
  .mainSlider .item h1 {
    font-size: 24px;
    line-height: normal;
  }
  .sectionArticles {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .section {
    width: 340px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .containerLocalNews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .sectionBusiness {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .sectionArticlesResp {
    padding-left: 50px;
  }
  .thumbnailSlider {
    width: 45px !important;
  }
  .thumbnails {
    gap: 20px !important;
    margin-top: 70px;
  }
  .articleCategory {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category {
    width: 330px !important;
  }
  .buttonsCategory {
    margin-left: 0px !important;
  }
  .singleTitle h1 {
    font-size: 15px;
    bottom: 0;
    line-height: normal;
    padding-right: 30px;
  }
  .singleTitle p {
    bottom: 45px;
  }
  .author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .author img {
    margin: 0 auto;
  }
  .authorName {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hiddenHamburger {
    display: block;
  }
  .hidden {
    display: none !important;
  }
}

@media all and (orientation: landscape) {
  .largePhoto {
    height: 70vh;
  }
}

@media all and (orientation: portrait) {
  .largePhoto {
    width: 70vw;
  }
}
/*# sourceMappingURL=App.css.map */