@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0px;
}

.containerNav {
  background-color: #252525;
  width: 100%;
  min-height: 53px;
}

.containerNav .navigation {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerNav .navigation .leftPartNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerNav .navigation .leftPartNav .leftArrowNav {
  height: 53px;
  width: 63px;
  background-color: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 9px;
}

.containerNav .navigation .leftPartNav p {
  color: #fff;
  margin-top: 16.5px;
  font-family: 'Bitter', serif;
  font-size: 24px;
}

.containerNav .navigation .rightPartNav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerNav .navigation .rightPartNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14.5px;
  font-size: 14px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  line-height: 27px;
  font-weight: 400;
}

.containerNav .navigation .rightPartNav ul li {
  margin-right: 28px;
}

.containerNav .navigation .rightPartNav .rightSearchNav {
  height: 53px;
  width: 63px;
  background-color: rgba(221, 208, 208, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerNav .navigation .rightPartNav .rightSearchNav img {
  width: 16px;
  height: 16px;
}

.purpleNav {
  background-color: #4D4382;
}

.purpleNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  color: #fff;
}

.purpleNav ul li {
  padding: 11px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpleNav ul li:nth-child(1) {
  background-color: #299EC3;
  padding: 15px 21px 16px 20px;
}

.purpleNav ul li:nth-child(2)::after {
  content: '';
  width: 132px;
  height: 3px;
  background-color: #EE6151;
  margin-top: auto;
}

.purpleNav ul li:nth-child(3)::after {
  content: '';
  width: 100px;
  height: 3px;
  background-color: #84C14F;
  margin-top: auto;
}

.purpleNav ul li:nth-child(4)::after {
  content: '';
  width: 81px;
  height: 3px;
  background-color: #5DCFF3;
  margin-top: auto;
}

.purpleNav ul li:nth-child(5)::after {
  content: '';
  width: 91px;
  height: 3px;
  background-color: #FCC44D;
  margin-top: auto;
}

.purpleNav ul li:nth-child(6)::after {
  content: '';
  width: 113px;
  height: 3px;
  background-color: #A99765;
  margin-top: auto;
}

@media screen and (max-width: 780px) {
  .purpleNav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainContainer {
  max-width: 940px;
  margin: 0 auto;
}

.banner {
  background-color: #ffffff;
  width: 100%;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #D7D7D7;
}

.banner p {
  color: #999999;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.bigBanner {
  height: 120px;
}

.mainSlider {
  width: 100%;
  height: 425px;
  background-color: #fff;
  margin-top: 18px;
}

.mainSlider .item {
  min-height: 425px;
  background-image: url("./components/assets/news_photo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainSlider .item > * {
  margin-left: 30px;
}

.mainSlider .item .dateAndComments {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #EEF6FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 246px;
  margin-bottom: 10px;
}

.mainSlider .item .dateAndComments p {
  font-weight: normal;
  margin-right: 28px;
}

.mainSlider .item .dateAndComments img {
  margin-right: 6px;
}

.mainSlider .item h1 {
  font-family: 'Bitter', serif;
  color: #EEF6FA;
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  max-width: 588px;
}

.mainSlider .item button {
  width: 123px;
  height: 33px;
  margin-top: 18px;
  background: rgba(0, 0, 0, 0.0001);
  border: solid #fff 1px;
  line-height: 17px;
  font-family: 'Varela Round', sans-serif;
  color: #EEF6FA;
}

.slick-prev {
  left: 25px;
  z-index: 999;
  width: 36px;
  height: 53px;
  background: url("./components/assets/arrowLeft.png") no-repeat !important;
}

.slick-prev::before {
  display: none;
}

.slick-prev:hover {
  opacity: 0.7;
}

.slick-next {
  right: 25px;
  width: 36px;
  height: 53px;
  background: url("./components/assets/arrowRight.png") no-repeat !important;
}

.slick-next::before {
  display: none;
}

.slick-next:hover {
  opacity: 0.7;
}

.twoColumnsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.twoColumnsDiv .newsbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 17px;
  max-width: 100%;
  overflow: hidden;
}

.twoColumnsDiv .newsbar .section {
  margin-top: 19px;
  height: 325px;
  padding-right: 31px;
  background-color: white;
  border-left: solid 13px #3677B5;
  margin-top: 19px;
}

.twoColumnsDiv .newsbar .section .sectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.twoColumnsDiv .newsbar .section .sectionHeader h3 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 15px;
  margin-left: 31px;
}

.twoColumnsDiv .newsbar .section .sectionHeader a {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #3677B5;
  margin-left: auto;
  margin-right: 32px;
  margin-top: 32px;
  -webkit-text-decoration-color: rgba(54, 119, 181, 0.3);
          text-decoration-color: rgba(54, 119, 181, 0.3);
}

.twoColumnsDiv .newsbar .section .sectionArticles {
  margin-top: 30px;
  margin-left: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article {
  width: 170px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article img {
  width: 170px;
  height: 128px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .imageBusiness {
  width: 120px;
  height: 90px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate p {
  font-family: "Varela Round", sans-serif;
  font-style: regular;
  font-size: 12px;
  color: #666666;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article .articleDate .articleNumber {
  margin-left: auto;
}

.twoColumnsDiv .newsbar .section .sectionArticles .article h4 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 18px;
  font-style: normal;
  margin-top: 6px;
}

.twoColumnsDiv .newsbar .section .sectionArticles .articleBusiness {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 150px;
      grid-template-columns: 135px 150px;
}

.twoColumnsDiv .newsbar .section .sectionBusiness {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.twoColumnsDiv .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 303px;
}

.twoColumnsDiv .sidebar .topPopular {
  width: 100%;
  height: 667px;
  margin-top: 19px;
  background-color: #4D4382;
}

@media screen and (max-width: 950px) {
  .twoColumnsDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .twoColumnsDiv .sidebar {
    margin: 0 auto;
  }
  .twoColumnsDiv .newsbar {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=App.css.map */